<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="style.css">
  <title>Reset Password Page</title>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

    body {
      margin: 0px;
      padding: 0px;
       font-family: Arial, Helvetica, sans-serif;
    }

    .theContent {
      font-family: 'Sora';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: #6B7280;
      width: 80%;
    }


    .theFooter {
      color: #2E7DD7;
    }

    .theFooter {
      background-color: #F9FAFB;
      padding-bottom: 10px;
      padding-left: 10%;
    }

    .theFooter p {
      font-family: 'Sora';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: #6B7280;
    }

  </style>
</head>

<body>
    <p>This is a message from the admin: {{description}}</p>
    <p class="theContent">Best</p>
    <p class="theContent">The Collect Team</p>
  <footer class="theFooter">
    <p>This email was intended for {{firstName}}. </p>
  </footer>
</body>

</html>